<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Properties</title>
</head>
<body>
<div class="PropertyList_bottomPageContainer__1IVdm snipcss-mPJhA">
    <div class="fade-in-appear-done fade-in-enter-done">
        <div class="cui-interactive-property-list">
            <ul role="listbox">
                <div aria-hidden="false" class="rah-static rah-static--height-auto  style-5OxV1" id="style-5OxV1">
                    <div>
                        <div class="rm-transition-fader ">
                            <li role="option" aria-selected="false">
                                <button id="property-0" class="selectable-element">
                                    <a href="/properties/135811319#/?channel=RES_BUY" tabindex="0" aria-disabled="false"
                                       class="cui-property-card cui-property-card-L   " target="_blank">
                                        <div class="images">
                                            <img src="https://media.rightmove.co.uk/dir/crop/10:9-16:9/127k/126928/135811319/126928_1268_IMG_00_0000_max_476x317.jpeg"
                                                 alt="Property">
                                            <img src="https://media.rightmove.co.uk/dir/crop/10:9-16:9/127k/126928/135811319/126928_1268_IMG_01_0000_max_476x317.jpeg"
                                                 alt="Property">
                                        </div>
                                        <div class="details details-L has-description ">
                                            <div class="title-and-heart-wrapper">
                                                <h2 class="title">
                                                    2 bed flat
                                                </h2>
                                            </div>
                                            <address class="address">
                                                St. Pauls Road, London, N1
                                            </address>
                                            <p class="status">
                                                Reduced on 31/08/2023
                                            </p>
                                            <p class="description">
                                                A fine 2 bedroom period apartment on the lower ground floor of this
                                                Victorian
                                                conversion, the property comprises of 2 double bedrooms, extra office
                                                space,
                                                fantastic sized living area, newly renovated bespoke kitchen, bathroom
                                                and its
                                                own private garden to rear. Share of Freehold
                                            </p>
                                        </div>
                                        <div class="more-details">
                                            <div class="left ">
                                                <p class="price">
                                                    £750,000
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </button>
                            </li>
                        </div>
                    </div>
                </div>
                <div aria-hidden="false" class="rah-static rah-static--height-auto  style-5OxV1" id="style-5OxV1">
                    <div>
                        <div class="rm-transition-fader ">
                            <li role="option" aria-selected="false">
                                <button id="property-1" class="selectable-element">
                                    <a href="/properties/135811319#/?channel=RES_BUY" tabindex="0" aria-disabled="false"
                                       class="cui-property-card cui-property-card-L   " target="_blank">
                                        <div class="images">
                                            <img src="https://media.rightmove.co.uk/dir/crop/10:9-16:9/127k/126928/135811319/126928_1268_IMG_00_0000_max_476x317.jpeg"
                                                 alt="Property">
                                            <img src="https://media.rightmove.co.uk/dir/crop/10:9-16:9/127k/126928/135811319/126928_1268_IMG_01_0000_max_476x317.jpeg"
                                                 alt="Property">
                                        </div>
                                        <div class="details details-L has-description ">
                                            <div class="title-and-heart-wrapper">
                                                <h2 class="title">
                                                    2 bed flat
                                                </h2>
                                            </div>
                                            <address class="address">
                                                St. Pauls Road, London, N1
                                            </address>
                                            <p class="status">
                                                Reduced on 31/08/2023
                                            </p>
                                            <p class="description">
                                                A fine 2 bedroom period apartment on the lower ground floor of this
                                                Victorian
                                                conversion, the property comprises of 2 double bedrooms, extra office
                                                space,
                                                fantastic sized living area, newly renovated bespoke kitchen, bathroom
                                                and its
                                                own private garden to rear. Share of Freehold
                                            </p>
                                        </div>
                                        <div class="more-details">
                                            <div class="left ">
                                                <p class="price">
                                                    £750,000
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </button>
                            </li>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
