/* Custom primary color */
.bg-primary, .text-primary {
    /*background-color: #00dcb5 !important;*/
    color: #00dcb5 !important;
}

/* Custom secondary color */
.bg-secondary, .text-secondary {
    /*background-color: #11818c !important;*/
    color: #11818c !important;
}

.btn-primary {
    background-color: #00dcb5 !important;
    border-color: #00dcb5 !important;
}

html {
  overflow-y: scroll;
}