{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar_right %}
    <div class="d-flex">
        <a class="btn btn-primary fw-semibold" href="{{ url_for('settings') }}" role="button">Settings</a>
    </div>
{% endblock %}
{% block content %}
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item">
                <a class="text-secondary text-decoration-none" href="{{ url_for('email_template', id=item.email_id) }}">
                    {{ item.str_date }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}