<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body class="bg-light">
<div class="container">
    {% for property in properties %}
        <div class="card my-3">
            <div class="card-body pr-0">

                <div class="space-y-3">
                    <div class="row">
                        {% for image in property.images %}
                            <div class="col">
                                <a href="{{ property.link }}"><img class="img-fluid" src="{{ image.url }}" alt="property_image"></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-9"><a href="{{ property.link }}"><h1 class="h5 text-teal-700">{{ property.title }}</h1></a></div>
                        <div class="col-3"><p class="h5 ax-right">{{ property.price }}</p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="space-y-2">
                            <p class="text-sm">{{ property.address }}</p>
                            <p class="text-teal-500 text-xs">{{ property.travel_time }}</p>
                        </div>

                        <div class="space-y-2">
                            <p class="text-teal-500 text-xs">{{ property.status }}</p>
                            <p class=" text-sm">{{ property.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>
