{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block navbar_right %}
    <div class="d-flex">
        {% if review_id == 'latest' %}
            <a class="btn btn-primary fw-semibold" href="{{ url_for('review_latest') }}" role="button">Mark reviewed</a>
        {% else %}
            <a class="btn btn-primary fw-semibold" href="{{ url_for('send', id=review_id) }}" role="button">Send
                email</a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <div class="card my-3 p-2">
        {{ graph|safe }}
    </div>

    {% for property in properties %}
        <div class="card my-3 p-2">
            <div class="card-body">
                <div class="row">
                    {% for image in property.images %}
                        <div class="col px-2">
                            <a href="{{ property.link }}"><img class="rounded img-fluid" src="{{ image.url }}"
                                                               alt="property_image"></a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-8">
                        <a class="text-decoration-none" href="{{ property.link }}">
                            <h1 class="h4 text-primary mt-3 ">{{ property.title }}</h1>
                        </a>
                    </div>
                    <div class="col-4"><p class="h4 text-end mt-3">{{ property.price }}</p></div>
                </div>
                <p class="mb-0">{{ property.address }}</p>
                <p class="mb-0 text-secondary">{{ property.travel_time }}</p>
                <p class="mb-0 text-secondary">Internal area: {{ property.area }}</p>
                <p class="mb-0 text-secondary">Garden: {{ property.garden }}</p>
                <p class="mb-0">{{ property.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
